.body {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 600px) {
      flex-direction: row;
      align-items: center;
  }


  .copy {
      padding: 0 2em;
      
      @media screen and (min-width: 600px) {
          width: 45%;
      }
  }

  .copy span {
      font-weight: bold;
      color: var(--dusty-rose);
  }

  img {
      width: 100%;     
      
      @media screen and (min-width: 600px) {
          width: 55%
      }
  }
}