:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Playfair Display", serif;

  --cream-white: #f9f8f6;
  --charcoal: #2e2e2e;
  --dusty-rose: #d97c93;
  --lavender: #9f96c2;
  --soft-orange: #f9a03f;
  --sunflower-yellow: #f5d76e;
  --sage-green: #a4c2a5;
  --sky-blue: #a3cce2;
  --coral-pink: #ef798a;
  --marigold-orange: #f68e5f;
  --background: #fdfdfd;

  background-color: var(--background);
}

.playfair-display-text {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  font-weight: 500;
  color: var(--soft-orange);
  text-decoration: inherit;
}
a:hover,
a:active,
a:focus {
  color: var(--sunflower-yellow);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
}

@media (min-width: 800px) {
  h1 {
    font-size: 3.2em;
  }
}

p {
  font-size: 0.8em;
}

@media (min-width: 800px) {
  p {
    font-size: 1.2em;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.body {
  display: flex;
  flex-direction: column;
}

.body .copy {
  padding: 0 2em;

  @media screen and (min-width: 600px) {
    width: 45%;
  }
}

.body .copy span {
  font-weight: bold;
  color: var(--dusty-rose);
}

.body img {
  width: 100%;

  @media screen and (min-width: 600px) {
    width: 55%;
  }
}

@media screen and (min-width: 600px) {
  .body {
    flex-direction: row;
    align-items: center;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--sage-green);
  margin: 0.5em 0;
  opacity: 0.5;
}

ul {
  margin-block-start: 0;
  padding-inline-start: 0;
}
